<section id="game form">
  <form [formGroup]="gameForm">
    <h2>Address</h2>

    <label for="gameType">Game Types: </label>
    <select id="gameType" type="text" formControlName="gameType">
      <option *ngFor="let gameType of gameTypes" [value]="gameType">
        {{ gameType }}
      </option>
    </select>

    <label for="gameWith">Opponent: </label>
    <select id="gameWith" type="text" formControlName="gameWith">
      <option *ngFor="let opponent of opponents" [value]="opponent">
        {{ opponent }}
      </option>
    </select>

    <label for="fen">Fen: </label>
    <input
      id="fen"
      type="text"
      formControlName="fen"
      [style.width.ch]="fen.length"
      [(ngModel)]="fen"
    />

    <button type="submit" [disabled]="!gameForm.valid" (click)="launchGame()">
      Submit
    </button>
  </form>
</section>
