<div
  class="app"
  [style]="{
    'background-image': !isGameSet() ? 'url(../assets/home.png)' : 'unset',
  }"
>
  @if (!isGameSet()) {
    <app-game-menu
      [style]="{ 'z-index': 50 }"
      (gameLaunched)="onGameStart($event)"
    ></app-game-menu>
  }

  <section
    id="game-content"
    [style]="{ filter: isGameLaunched() ? '' : 'blur(4px)' }"
  >
    @if (isGameLaunched()) {
      <app-stockfish-board
        [settings]="settings()"
        (gameFinished)="onGameOver()"
      ></app-stockfish-board>
    }
  </section>
  @if (isGameOver()) {
    <app-game-status
      (rematch)="onRematch()"
      (newGame)="onNewGame()"
    ></app-game-status>
  }
</div>
