<div class="app" [style]="{ 'background-image': !gameLaunched ? 'url(/assets/home.png)' : 'unset' }">
  <app-game-menu
    [style]="{ 'z-index': 50, display: gameLaunched ? 'none' : '' }"
    (gameLaunched)="gameStart($event)"
  ></app-game-menu>
  <section
    id="game-content"
    [style]="{ filter: gameLaunched ? '' : 'blur(4px)' }"
  >
    @if (settings !== null) {
      <app-stockfish-board [settings]="settings"></app-stockfish-board>
    }
    <app-game-status></app-game-status>
  </section>
</div>
