div .moves {
  flex: 2 1 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  overflow-x: hidden;
  border-top: 1px solid #404040;
  width: 100%;
  height: 100%;
}

span .activeMove {
  font-weight: bold;
  background: #2a4053;
  color: #ccc;
}
