:host ::ng-deep {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  background-color: #d08718;
  border: solid 10px saddlebrown;
  padding: 10px;
  margin: 10px;
  align-content: baseline;
}

.move {
  flex: 2 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow-y: auto;
  overflow-x: hidden;
}

.activeMove {
  flex: 2 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow-y: auto;
  overflow-x: hidden;
  font-weight: bold;
  background: #1e2022;
  color: #ccc;
}

.moveIndex {
  font-size: x-large;
}
