<div *ngFor="let stockFishMove of chessMoves; let index = index">
  <div
    *ngIf="index % 2 === 0; else moveBlock"
    [ngClass]="
      stockFishMove === lastMove
        ? ['indexed', 'activeMove']
        : ['indexed', 'move']
    "
  >
    <span id="moveIndex"> {{ moveBoardIndex(index) }} </span>
    <span [id]="stockFishMove.move">{{ stockFishMove.move }}</span>
  </div>
  <ng-template #moveBlock>
    <span
      [ngClass]="stockFishMove === lastMove ? ['activeMove'] : ['move']"
      [id]="stockFishMove.move"
      >{{ stockFishMove.move }}</span
    >
  </ng-template>
</div>
